* {
  box-sizing: border-box;
}

.main-bar {
  width: 100vw;
  height: 200px;
  background-color: #634225;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.header-name a{
  font-size: 30px;
  color: #dfd6d2;
  text-decoration: none;
  font-weight: bold;
  font-family: Impact, sans-serif;
  margin-left: 15px;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hodeput-icon {
  width: 10vw;
  margin-right: 5vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 50%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  /* padding: 1vh 0; */
}

.lists-right {
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}

/* .login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 30px;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
} */

.user_sub{
  display: flex;
}

.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.btn-gradient-3d-white {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #0a0a0a;
  background-image: linear-gradient(45deg, #ffffff 0%, #ffffff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #ffffff;
}

.btn-gradient-3d-white:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

